<div style="margin-left: 8.3%; margin-top: 95px; width: 83.5%;">
		
	<div class="col-sm-6">
		<div class="panel panel-default" style="margin-top: 1%;">
				<div class="panel-heading" style="background-color: #37474F;">Sites Syncing Status</div>
				<div class="panel-body" style="height: 320px;">
					<table class="table">
						<thead>
							<tr style="color: green">
								<th>Site Name</th>
								<th>Status</th>
								<th>Last Seen</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Kamuzu Central Hospital
								</td>
								<td>
									Online
								</td>
								<td>
									Now
								</td>
							</tr>
							<tr>
								<td>
									Kamuzu Central Hospital
								</td>
								<td>
									Online
								</td>
								<td>
									Now
								</td>
							</tr>
							<tr>
								<td>
									Kamuzu Central Hospital
								</td>
								<td>
									Online
								</td>
								<td>
									Now
								</td>
							</tr>
							<tr>
								<td>
									Kamuzu Central Hospital
								</td>
								<td>
									Online
								</td>
								<td>
									Now
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<p>	<span> Total Sites: 5</span>
						<span> Sites Online: 3</span>
						<span> Sites Off-line: 2</span>
					</p>
				</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div>
			<div class="col-sm-6">
				<div class="panel panel-default" style="margin-top: 3.5%;">
					<div class="panel-heading " style="text-align: center;">Total Orders</div>
					<div class="panel-body" style="height: 80px;">
						<p style="text-align: center;">150000</p>
					</div>
					<div class="panel-footer">
						<p style="text-align: center;">For the year 2016</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default" style="margin-top: 3.5%;">
					<div class="panel-heading " style="text-align: center;">Completed Orders</div>
					<div class="panel-body" style="height: 80px;">
						<p style="text-align: center;">150000</p>
					</div>
					<div class="panel-footer">
						<p style="text-align: center;">For the year 2016</p>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="col-sm-6">
				<div class="panel panel-default" style="margin-top: 3%;">
					<div class="panel-heading " style="text-align: center;">Verified Orders</div>
					<div class="panel-body" style="height: 80px;">
						<p style="text-align: center;">150000</p>
					</div>
					<div class="panel-footer">
						<p style="text-align: center;">For the year 2016</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
			<div class="panel panel-default" style="margin-top: 3%;">
				<div class="panel-heading " style="text-align: center;">Rejected Samples</div>
				<div class="panel-body" style="height: 80px;">
						<p style="text-align: center;">150000</p>
				</div>
				<div class="panel-footer">
					<p style="text-align: center;">For the year 2016</p>
				</div>
			</div>
		</div>
	</div>
	</div>

</div>