<!DOCTYPE html>
<html>
<head>
  <title>NlimsDashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: lightgrey;">

	
	<div style="background-color: #37474F;">
		
		
		<h2 style="margin-top: 0px; padding-left:  8.5%; padding-top: 2%; color: white;">
			
			NLIMS 
			<span style="color: lightgrey;">
				Dashboard 				
			</span>
		</h2>
		

	</div>
	<div class="col-sm-offset-1 col-sm-10" style=" background-color: white; padding-top: 0.5%; padding-left: 0.5%;padding-bottom: 0.5%">
		<span>
			<input type="button" value="MoH Report" class="btn btn-primary" onclick="window.location='/moh_report'">

		</span>	
	</div>

	<%= yield %>
</body>
</html>
